1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
"hello"
-87.8
-
/
+
6

In [ ]:
# here values are : "hello" , -87.8 & 6
# Expressions are : - + / *

2. What is the difference between string and variable?

In [ ]:
# A Variable is a name of location in the primary memory of our computer where we can save anything from string to numbers.
# & a String is a value inside the quotes assigned to a string.

3. Describe three different datatypes?

In [ ]:
# different type of dataypes are string, integer, boolean, char, float..

# 1. String is a datatype in which a vlaue is store inside the quotes assigned to a string.
# 2. Integer is a datatype which stores the whole number like, 231, 43543, 4544, 666, 1212, etc.
# 3. Float is a datatype composed of a number that is not an integer, because it includes a fraction represented in decimal format. for ex. 200.8, 54.9..

4. What is an expression made up of? What do all expressions do?

In [ ]:
# An expression is a combination of values, variables, operators, and functions.. 
# In Python expression, the interpreter evaluates the expression and displays the result.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
# An Expression is a combination of values and functions that are combined and interpreted by the compiler to create a new value. 
# & A Statement is just a standalone unit of execution and doesn't return anything.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon=22

In [2]:
bacon+1     # bacon=23

23

7. What should the values of the following two terms be?
spam + spamspam
spam * 3

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [10]:
eggs="dhar"      # eggs is a string datatype & string can be a variable

In [11]:
eggs

'dhar'

In [13]:
type(eggs)

str

In [12]:
100="dhar"      # but int is not a string datatype so it cannnot be a variable

SyntaxError: cannot assign to literal (Temp/ipykernel_18136/339231240.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
# The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [14]:
'I have eaten ' + '99' + ' burritos.'    # here we can put 99 in single quotes & it will be a string

'I have eaten 99 burritos.'

In [15]:
'I have eaten ' + str(99) + ' burritos.'   # here we can use str function for 99 as it will convert int input into str output.

'I have eaten 99 burritos.'